<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feijian.dao.LogMapper">
  <resultMap id="BaseResultMap" type="com.feijian.model.UserLog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="card_number" jdbcType="VARCHAR" property="cardNumber" />
    <result column="operate_type" jdbcType="INTEGER" property="operateType" />
    <result column="operate_value" jdbcType="FLOAT" property="operateValue" />
    <result column="operate_time" jdbcType="TIMESTAMP" property="operateTime" />
    <result column="param" jdbcType="VARCHAR" property="param" />
  </resultMap>
  <sql id="Base_Column_List">
    id, phone, card_number, operate_type, operate_value, operate_time, param
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from log_info
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectLatestConsume" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from log_info
    where card_number = #{cardNumber,jdbcType=VARCHAR} and operate_type = 1 order by operate_time desc limit 1;
  </select>


  <insert id="insert" parameterType="com.feijian.model.UserLog">
    insert into log_info (id, phone, card_number, operate_type, operate_value, operate_time, param)
    values (#{id,jdbcType=INTEGER}, #{phone,jdbcType=VARCHAR}, #{cardNumber,jdbcType=VARCHAR},
    #{operateType,jdbcType=INTEGER}, #{operateValue,jdbcType=FLOAT}, #{operateTime,jdbcType=TIMESTAMP},
    #{param,jdbcType=VARCHAR})
  </insert>

  <update id="updateLog" parameterType="com.feijian.model.UserLog">
    update log_info set operate_type = #{operateType,jdbcType=VARCHAR},operate_time = #{operateTime,jdbcType=TIMESTAMP},
    operate_value = #{operateValue,jdbcType=FLOAT}, param=#{param,jdbcType=VARCHAR} where id = #{id,jdbcType=INTEGER}
  </update>


  <!--查找用户的所有记录-->
  <select id="findAllLogs" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from log_info
    <where>
      1 = 1
      <if test="phone != null and phone != '' ">
        and phone = '${phone}'
      </if>
      <if test="startTime != null and startTime != '' ">
        and operate_time > '${startTime}'
      </if>
      <if test="endTime != null and endTime != '' ">
        <![CDATA[
        and operate_time <'${endTime}'
        ]]>
      </if>
      <if test="operateType != null and operateType != '' ">
        and operate_type = '${operateType}'
      </if>
    </where>
    ORDER BY id DESC limit ${startIndex},${pageSize}
  </select>
  <select id="countAllLogs" resultType="java.lang.Integer">
    select count(1) from log_info
    <where>
      1 = 1
      <if test="phone != null and phone != '' ">
        and phone = '${phone}'
      </if>
      <if test="startTime != null and startTime != '' ">
        and operate_time > '${startTime}'
      </if>
      <if test="endTime != null and endTime != '' ">
        <![CDATA[
        and operate_time < '${endTime}'
        ]]>
      </if>
      <if test="operateType != null and operateType != '' ">
        and operate_type = '${operateType}'
      </if>
    </where>
  </select>
</mapper>